/*Based on an example shown in: https://lovelace.oulu.fi/ohjelmoitava-web/ohjelmoitava-web/exercise-4-implementing-hypermedia-clients/*/
form label {
    font-weight: bold;
    display:block; /*Necessary for the first letter*/
}
form label:first-letter{
    text-transform: uppercase;
}

.delete-button > button{
    margin-left: 250px;
    color: #FFFFFF;
    background-color: #f44336;
    padding: 2px 20px;
    border: 0;
}

instruction {
    overflow-y: scroll;
    height: 100px;
}

label {
    max-width: 240px;
}

td {
    text-align: center;
}

input{
    margin: 0 0 5px 0;
}

input[type=submit] {
    margin: 0 10px;
}

textarea {
    width:250px;
    height:150px;
}